# Project to Predict real-estate price

In [1]:
import pandas as pd

In [7]:
housing = pd.read_csv("data.csv")

housing is DataFrame --- head() finction displays top 5 data rows --- info() total entries [we can check missing values]

In [8]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [9]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       505 non-null    object
 1   ZN         504 non-null    float64
 2   INDUS      505 non-null    float64
 3   CHAS       505 non-null    int64
 4   NOX        505 non-null    float64
 5   RM         505 non-null    float64
 6   AGE        505 non-null    float64
 7   DIS        505 non-null    float64
 8   RAD        505 non-null    int64
 9   TAX        505 non-null    int64
 10  PTRATIO    505 non-null    float64
 11  B          505 non-null    float64
 12  LSTAT      505 non-null    float64
 13  MEDV       505 non-null    float64
dtypes: float64(10), int64(3), object(1)
memory usage: 55.4+ KB

In [10]:
housing['CHAS'].value_counts()

0    470
1     35
Name: CHAS, dtype: int64